@tailwind base;

* {
  font-family: "Sen", sans-serif;
}

@tailwind components;

@media screen and (min-width: 1024px) {
  .hero-margin {
    margin-top: -110.31px;
  }
}

@tailwind utilities;

.sen {
  font-family: "Sen", sans-serif;
}
